:root {
  --bg-color: #fff;
  --main-font-color: #9900ff;
  --main-bg-header: #4b4b4b5d;
  --button-color: #edff65;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 999;
  background-color: var(--main-bg-header);
  backdrop-filter: blur(10px);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 120px;
  height: 100px;
}

/* .header-left .war:hover {
  color: #9900ff;
}
.header-left .na:hover {
  color: #ff5e00;
}
.header-left .kala:hover {
  color: #00d9ff;
} */

.header-left button {
  margin-left: 20px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.header-left button:hover {
  background-color: #000;
  color: #fff;
}

.header-right {
  display: flex;
  gap: 20px;
}

.header-right a {
  font-family: "Verdana";
  text-decoration: none;
  color: var(--bg-color);
  transition: 0.3s;
  font-weight: 900;
  font-size: 15px;
}

.header-right a:hover {
  color: var(--main-font-color);
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-vid {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-info {
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 40px;
}

.hero-info h1 {
  font-size: 120px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hero-info p {
  color: #fff;
  max-width: 350px;
  line-height: 1.5;
}

.hero-info button {
  font-weight: bold;
  background-color: var(--button-color);
  padding: 10px 35px;
  border: 2px solid var(--button-color);
  border-radius: 20px;
  transition: 0.3s;
  color: #000;
}

.hero-info button:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--bg-color);
  box-shadow: 0 0 15px var(--button-color);
}

.title-3 {
  font-size: 120px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  font-style: normal;
  position: absolute;
  right: 40px;
  bottom: 10px;
}

.title-4 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  position: absolute;
  right: 40px;
  bottom: 70px;
  opacity: 50%;
}
.clicked {
  font-weight: 600;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  position: absolute;
  left: 40px;
  bottom: 60px;
  opacity: 50%;
}

.clicked span {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: red;
  opacity: 50%;
}

@media screen and (max-width: 428px) {
  header {
    padding: 0 10px;
  }
  .header-left button {
    display: none;
  }
  .header-right a {
    font-size: 12px;
    padding: 0 5px;
  }

  .hero-info {
    top: 60px;
    left: 5%;
  }

  .hero-info .papa,
  .tagline {
    font-size: 50px;
    font-weight: bold;
  }

  .hero-section h1 {
    font-size: 90px;
  }
  .next-btn {
    left: 25%;
    top: 40%;
  }

  .title-4 {
    padding-right: 35px;
    font-size: 16px;
    right: 0px;
    bottom: 60px;
  }
  .clicked {
    padding: 10px;
    left: 0;
    bottom: 150px;
  }
}
